<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="co.edu.udistrital.espingsw.huellitaspelitos">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Demo">
        <activity
            android:name="co.edu.udistrital.espingsw.huellitaspelitos.Notificacion"
            android:exported="false" />
        <activity
            android:name="co.edu.udistrital.espingsw.huellitaspelitos.Servicios"
            android:exported="false" />
        <activity
            android:name="co.edu.udistrital.espingsw.huellitaspelitos.AgendarCita"
            android:exported="false" />
        <activity
            android:name="co.edu.udistrital.espingsw.huellitaspelitos.PrincipalCliente"
            android:exported="false" />
        <activity
            android:name="co.edu.udistrital.espingsw.huellitaspelitos.Login"
            android:exported="false" />
        <activity android:name="co.edu.udistrital.espingsw.huellitaspelitos.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>